body {
    text-align: center;
    margin: 0px;
    padding: 0px;

    /*Fuentes*/
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

#header {
    height: 100px;
    width: 100%;
    background: #696969;
}
.center{
    width: 75%;
    margin: 0px auto;
}
.center-cuestionario{
    width: 75%;
    margin: 0px auto;
    padding: 60px 0px 60px 0px;
}
.center-actividad{
    width: 75%;
    margin: 0px auto;
    padding: 60px 0px 60px 0px;
}
#slider-comun h1{
    margin-top: 0px;
    padding-top: 20px;
}

.clearfix{
    clear: both;
    float: none;
}

#logo {
    width: 14%;
    font-size: 30px;
    float: left;
    margin-top: 30px;
}

#logo img{
    display: block;
    float: left;
    height: 74px;
    margin-top: -17px;
    animation: latir infinite 5s linear;
}

@keyframes latir{
    0%{
        transform: scale(1, 1);
    }

    20%{
        transform: scale(1.05);
    }
    40%{
        transform: scale(1.15);
    }

    100%{
        transform: scale(1, 1);
    }

}
/*menu numero 1*/
#menu{
    width: 60%;
    float: left;
    font-size: 18px;
}

#menu ul{
    line-height: 70px;
    width: 30%;
    float: left;
}

#menu ul li{
    display: inline-block;
    list-style: none;
    height: 46px;
    margin-left: 15px;
    margin-right: 15px;
}

#menu a{
    text-decoration: none;
    color: white;
    transition: color 300ms all;
}

#menu a:hover{
    color: #5CE1E6;
}

/*menu numero 2*/
#menu2{
    width: 60%;
    float: left;
    font-size: 18px;
}

#menu2 ul{
    line-height: 70px;
    width: 60%;
    float: left;
}

#menu2 ul li{
    display: inline-block;
    list-style: none;
    height: 46px;
    margin-left: 15px;
    margin-right: 15px;
}

#menu2 a{
    text-decoration: none;
    color: white;
    transition: color 300ms all;
}

#menu2 a:hover{
    color: #5CE1E6;
}


.btn-secion{
    display: block;
    float: right;
    color: white;
    width: 250px;
    height: 70px;
    line-height: 108px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    transition: color 300ms all;

}
.btn-reg{
    text-align: center;
    background: #5CE1E6;
    color: white;
    width: 70%;
    height: 46px;
    font-size: 18px;
    border-radius: 15px;
    text-decoration: none;
    line-height: 46px;
    border: none;
    transition: 300ms all;
}
.btn-cues{
    text-align: center;
    background: #5CE1E6;
    color: white;
    width: 70%;
    height: 46px;
    font-size: 18px;
    margin-bottom: 60px;
    border-radius: 15px;
    text-decoration: none;
    line-height: 46px;
    border: none;
    transition: 300ms all;
}
.btn-login{
    text-align: center;
    background: #5CE1E6;
    color: white;
    width: 240px;
    height: 46px;
    font-size: 18px;
    border-radius: 15px;
    margin-top: 35px;
    text-decoration: none;
    line-height: 46px;
    border: none;
    transition: 300ms all;

}
.btn-alebrije{
    text-align: center;
    background: #5CE1E6;
    color: white;
    width: 100%;
    height: 46px;
    font-size: 18px;
    border-radius: 15px;
    text-decoration: none;
    line-height: 46px;
    border: none;
    transition: 300ms all;

}
.btn-secion:hover{
    color: #5CE1E6;
}

.btn-reg:hover{
    background: #444;
}
.btn-cues:hover{
    background: #444;
}
.btn-login:hover{
    background: #444;
}
.btn-alebrije:hover{
    background: #444;
}
.mid-form{
    width: 70%;
    margin: 0px auto;
}
.puntaje-accesorio{
    background-color: #CFD7DB;
}

input[type = "text"]{
    width: 100%;
    height: 30px;
    border: 1px solid #CFD7DB;
    margin-bottom: 30px;
    border-radius: 10px;
    font-size: 16px;
    padding-left: 25px;
    transition: 300ms all;
}
input[type = "password"]{
    width: 100%;
    height: 30px;
    border: 1px solid #CFD7DB;
    margin-bottom: 30px;
    border-radius: 10px;
    font-size: 16px;
    padding-left: 25px;
    transition: 300ms all;
}
input[type = "text"]{
    box-shadow: 0px 0px 5px #ccc inset;
}
input[type = "text"].text-alinear{
    width: 200px;
    height: 50px;
    margin-top: 50px;
    margin-left: 20px;
}
input[type = "password"].pass-alinear{
    width: 200px;
    height: 50px;

    margin-top: 50px;
    margin-left: 20px;
}

input::placeholder{
    color: #CFD7DB;
}
#slider{
    width: 100%;
    height: 200px;
    text-shadow: 0px 0px 5px #444;
    /*Degradado*/
    background: rgb(251,251,251);
    background: linear-gradient(0deg, rgba(251,251,251,1) 45%, rgba(92,225,230,1) 91%);
}
#slider-comun{
    width: 100%;
    height: 100%;
    text-shadow: 0px 0px 5px #444;
    /*Degradado*/
    background: rgb(251,251,251);
    background: linear-gradient(0deg, rgba(251,251,251,1) 45%, rgba(92,225,230,1) 91%);
}

#slider-login{
    width: 100%;
    height: 150px;
    text-shadow: 0px 0px 5px #444;
    background: #CFD7DB;
}

#slider h1{
    margin: 0px 0px 0px 40px;
    padding-top: 45px;
    text-align: left;
    font-size: 450%;
}
#slider-login p{
    margin: 0px 0px 0px 40px;
    text-align: center;
    padding-top: 110px;
    font-size: 300%;
}
#cont-inicio{
    margin-bottom: -4px;
    padding: 0px;
}


#cont-inicio .app-inicio{
    width: 100%;
    max-height: 500px;
}

#content{
    width: 60%;
    float: left;
    min-height: 450px;
    margin: 60px 20px 60px 0px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #444;
    padding-top: 60px;
}
#content-center{
    width: 60%;
    min-height: 450px;
    margin: 0px auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #444;
    padding-top: 60px;
}
#content-center-actividad{
    width: 75%;
    min-height: 450px;
    margin: 0px auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #444;
    padding-top: 60px;

}

#footer{
    background:  #696969;
    width: 100%;
    height: 70px;
}

#footer p{
    margin: 0px;
    padding: 0px;
    color: white;
    padding-top: 10px;
}
.mensaje{
    display: block;
    float: right;
    margin-top: 140px;
    font-size: 40px;
}
.imagen-fondo{
    margin: 0;
    background-image: url("../imagenes/img-login.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 550px;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.content-login{
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.imagen-fondo p{
    margin: 0px;
    text-align: center;
    font-size: 300%;
    font-weight: 600;
    color: white;
}


#alebrije {
    width: 40%;
    font-size: 30px;
    float: left;
    margin-top: 30px;
}

#alebrije img{
    display: block;
    float: left;
    height: 700px;
    margin-top: 10px;
    margin-left: 187px;
}

#eAlebrije{
    width: 60px;
    height: 100px;
    font-size: 30px;
    float: right;
    margin-top: 30px;
}


#eAlebrije img{
    display: block;
    width: 60px;
    height: 100px;
    margin: 0px -10px 0px 0px;
}

.ale-puntos{
    display: block;
    margin: 0px;
    padding-top: 30px;
    font-size: 30px;
    margin-right: -110px;
}
.grid{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 200px;
    gap: 1em;
    padding-left: 168px;
}
.grid img{
    width: 100%;
    height: 100%;
}

.content-respuestas{
    width: 35%;
    text-align: left;
    padding-left: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.content-respuestas input{
    margin-bottom: 5px;
}


@media(max-width: 1488px){
    .center{
        width: 85%;
    }

}

@media(max-width: 1314px){
    .center{
        width: 95%;
    }
    #menu ul{
        width: auto;
    }
}

@media (max-width: 1030px){
    #header{
        height: auto;
    }
    #menu,
    #menu ul{
        clear: both;
        float: none;
        width: 100%;
        margin: 0px;
        padding: 0px;
        line-height: 43px;
    }
    #logo{
        float: none;
        width: 107px;
        margin: 0px auto;
    }
    #logo img{
        float: none;
        margin: 0px;
        padding-top: 12px;
    }
    .btn-secion{
        float: none;
        widows: 240px;
        margin: 0px auto;
        padding: 0px;
        margin-bottom: 12px;
    }
    #slider h1{
        text-align: center;
        font-size: 350%;
    }
    #slider-comun{
        padding-top: 45px;
    }

    #content{
        float: none;
        width: 100%;
        margin: -1px 20px 32px 0px;
    }

    .mensaje{
        float: none;
        width: 60%;
        margin: 0px auto;
        font-size: 30px;
    }

    .mensaje h2{
       margin-top: 0px;
    }

}

